In [1]:
import pandas as pd
import seaborn as sns

In [12]:
lda = pd.read_csv('./result/npmi_lda_optimization says 16.csv',)
stm = pd.read_csv('./result/npmi_STMprevalence_platform+author.csv')#still working on it
bert = pd.read_csv('./result/npmi_bertopic_min_topic_size=70_min_samples=20.csv') 
#select 5-30 only
bert = bert[bert.n_topics<=30]
scholar = pd.concat([pd.read_csv('./result/npmi_scholar_prior_covar_author+platform_e50.csv'),
                    pd.read_csv('./result/npmi_scholar_prior_covar_author+platform_21_30_e50.csv')])
scholar

#make scholar and stm work for 30
#use normalize and accumalative 
#make multiple lines

    Unnamed: 0  n_topics  npmi_average
0            0         5      0.027340
1            1         6     -0.007215
2            2         7      0.010750
3            3         8      0.038427
4            4         9      0.034066
5            5        10      0.036229
6            6        11      0.039678
7            7        12      0.017776
8            8        13      0.013474
9            9        14      0.000988
10          10        15      0.042536
11          11        16      0.026605
12          12        17      0.018455
13          13        18      0.011540
14          14        19      0.012868
15          15        20      0.038761
0            0        21      0.010781
1            1        22      0.019823
2            2        23      0.003624
3            3        24      0.007509
4            4        25      0.008276
5            5        26      0.006193
6            6        27      0.005231
7            7        28      0.006235
8            8        29      0.008743
9            9        30      0.007069