In [1]:
from pre_processing import *

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\aminh\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\aminh\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\aminh\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\aminh\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

Error in setting maxSize for CSV output

In [2]:
txt_df = ap_corpus('./data/ap.txt')
txt_df

,text,text_cleaned
0,A 16-year-old student at a private Baptist sc...,A 16-year-old student at a private Baptist sc...
1,The Bechtel Group Inc. offered in 1985 to sel...,The Bechtel Group Inc. offered in 1985 to sel...
2,A gunman took a 74-year-old woman hostage aft...,A gunman took a 74-year-old woman hostage aft...
3,"Today is Saturday, Oct. 29, the 303rd day of ...","Today is Saturday, Oct. 29, the 303rd day of ..."
4,Cupid has a new message for lovers this Valen...,Cupid has a new message for lovers this Valen...
...,...,...
2241,The dollar rose in quiet European trading thi...,The dollar rose in quiet European trading thi...
2242,Here are the companies known to be conducting...,Here are the companies known to be conducting...
2243,Bloodstains on a pillowcase and exercise bar ...,Bloodstains on a pillowcase and exercise bar ...
2244,When Ron Thompson sat down for lunch on New Y...,When Ron Thompson sat down for lunch on New Y...
2245,A Navy anti-submarine helicopter crashed whil...,A Navy anti-submarine helicopter crashed whil...